.mm-form{
    display: flex;
    flex-direction: column;

    &__group{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    &__label{
        font-weight: 500;
        font-size: 1.3rem;
        display: inline-block;
        margin-bottom: .5rem;
    }

    &__input{
        width: 100%;
        outline: none;
        border: $primary-lighter solid 1px;
        padding: 1.5rem;
        border-radius: 1rem;
        color: $primary;
        font-size: 1.4rem;
        -webkit-appearance: none;
        transition: .3s ease-in-out all;

        &::placeholder{
            color: $primary-light;
        }

        &:focus{
            border-color: $primary-light;
        }
    }

    textarea.mm-form__input{
        height: 12rem;
        font-family: inherit;
        white-space: pre-line;
    }

    &__action{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__main{
            flex: 1;
            margin-left: .5rem;
        }
    }
}