.mm-header{
    height: 6rem;
    padding: 1.5rem 2.5rem;
    position: fixed;
    top: 0;
    @include fixed-position-left;
    @include fixed-position-right;
    background: #fff;
    @include flex;
    justify-content: space-between;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .05);

    &__left{
        @include flex;
    }

    &__back{
        cursor: pointer;
        margin-right: 1rem;
        outline: none;
        border: none;
        background: transparent;
        color: $primary-light;

        .feather{
            height: 2rem;
            width: 2rem;
            display: block;
        }
    }

    &__title{
        @include flex;
        flex-direction: column;
        align-items: flex-start;

        h4{
            font-size: 1.6rem;
            font-weight: 500;
            color: $primary;
        }

        span{
            font-size: 1.2rem;
        }
    }

    &__right{
        color: $primary-light;
        outline: none;
        background: transparent;
        border: none;
        cursor: pointer;

        .active{
            color: $primary;
        }
    }
}