.mm-spinner {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(#bec4e7, 0.9);
    border-top-color: currentColor;
    animation: 1s spin infinite linear;
    margin-bottom: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
