@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: $primary-light;
    font-weight: 400;
    height: 100vh;
    // max-height: 100%;
    max-width: $max-width;
    overflow: hidden;
    margin: 0 auto;
}

.mm-main{
    padding: 2.5rem;
    padding-top: 7.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);
    // box-sizing: content-box;

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // bottom: -8re;
        height: 100%;
        // margin-top: 7.5rem;
        background: rgba($light, .85);
        color: $primary-lighter;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 200;

        h1{
            font-size: 5rem;
        }
    }
}

.ml-1{
    margin-left: .5rem;
}

.mt-1{
    margin-top: 1rem;
}

#root, .App{
    height: 100%;
}

.link{
    text-decoration: none;
    display: inline-block;
    position: relative;

    &::after{
        position: absolute;
        height: 0px;
        width: 100%;
        background: $light;
        content: '';
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: .4s ease-in-out all;
        opacity: 0;
    }

    &:hover::after{
        height: 6px;
        bottom: 2px;
        opacity: 1;
    }


    &--dark{
        color: $primary-lighter;
    }

    &--light{
        color: darken($light, 15);

        &::after{
            background: $primary-lighter;
        }
    }
}